<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Laboratorio IV</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">TP</span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./juegos">Juegos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <router-outlet></router-outlet>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt cumque nesciunt ea, eligendi a porro perferendis totam officiis fugiat molestias eos maiores consectetur rem velit, cupiditate excepturi aliquam odio!
    Quas magnam obcaecati maxime hic architecto eius amet. Dicta culpa alias ducimus illo earum assumenda libero porro architecto, debitis voluptatibus! Ipsam fugiat nobis maiores. Tenetur autem ipsa eligendi unde voluptate.
    Modi, est a laborum quia ducimus magnam quasi odit, totam velit labore nulla nemo illum obcaecati, doloribus amet atque provident nobis? Aliquam voluptatibus minus vitae nobis cumque unde culpa soluta.
    Temporibus veniam molestiae veritatis adipisci eos quo, consequuntur sed vitae id quas consectetur ea iste aspernatur similique aliquid necessitatibus quia pariatur in labore aut? Libero, eos exercitationem. In, iure maxime.
    Officia sunt impedit beatae enim aliquid deserunt perspiciatis temporibus, nobis deleniti natus minus delectus. Quibusdam, labore nulla ex repudiandae nobis laboriosam debitis officia molestias vitae. Deleniti itaque est sint atque!
    Odio doloremque ullam voluptas eligendi suscipit id incidunt perferendis, sed soluta quo molestias dolores quis fugit nulla numquam nisi earum sequi repellat fuga accusantium tempore inventore? Rem, nisi quisquam. Perspiciatis?
    Nobis tempora perferendis accusantium voluptatibus aut laborum quibusdam in fugit molestias nemo sequi perspiciatis necessitatibus, labore iure eaque voluptas exercitationem nihil! Officia quas ut voluptatum, nobis porro nisi numquam magni?
    Deserunt placeat dolorem sint, distinctio amet possimus cupiditate eos dignissimos magni aliquid. Repudiandae a recusandae nobis, possimus itaque odit aliquid, necessitatibus qui assumenda nostrum dolores ex reprehenderit quas ratione vel!
    Quod, animi assumenda totam magni illum aliquam, iusto facere velit porro nostrum temporibus amet dolor hic ratione quas maiores voluptas quae tenetur vel ipsum omnis! Doloremque odio quia reiciendis at.
</p>