
<!-- <ul>
    <li><a routerLink="./tateti">Juego tateti</a></li>
    <li><a routerLink="./preguntados">Juego Preguntados</a> </li>
    <li><a routerLink="./">Juego Otro</a></li>
</ul> -->

<section class="carousel">
    <div class="carousel_container">
      <div class="carousel-item">
        <a routerLink="./tateti">
          <p class="carousel-item_details--title">Tateti Game</p>
          <p class="carousel-item_details--subtitle">descripcion</p>
            <img class="carousel-item_img"
          src="https://images.pexels.com/photos/228963/pexels-photo-228963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Tateti">
            <div class="carousel-item_details">
                <div>
            <img src="" alt="">
            <img src="" alt="">
          </div>
        </div>
    </a>
      </div>
      <div class="carousel-item">
        <a routerLink="./preguntados">
        <p class="carousel-item_details--title">Preguntados</p>
        <p class="carousel-item_details--subtitle">descripcion</p>
        <img class="carousel-item_img"
          src="https://images.pexels.com/photos/1293265/pexels-photo-1293265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 "
          alt="Preguntados">
        <div class="carousel-item_details">
          <div>
            <img src="" alt="">
            <img src="" alt="">
          </div>
          
        </div>
    </a>
      </div>
      <div class="carousel-item">
        <p class="carousel-item_details--title">Super Mario Bros</p>
        <p class="carousel-item_details--subtitle">dscripcion</p>
        <img class="carousel-item_img"
          src="https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Otro">
        <div class="carousel-item_details">
          <div>
            <img src="" alt="">
            <img src="" alt="">
          </div>
        
        </div>
      </div>
      <div class="carousel-item">
        <p class="carousel-item_details--title">Pacman</p>
        <p class="carousel-item_details--subtitle">dscripcion</p>
        <img class="carousel-item_img"
          src="https://images.pexels.com/photos/1601774/pexels-photo-1601774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="">
        <div class="carousel-item_details">
          <div>
            <img src="" alt="">
            <img src="" alt="">
          </div>
          
        </div>
      </div>
      <div class="carousel-item">
        <p class="carousel-item_details--title">Generala</p>
        <p class="carousel-item_details--subtitle">dscripcion</p>
        <img class="carousel-item_img"
          src="https://images.pexels.com/photos/37534/cube-six-gambling-play-37534.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="">
        <div class="carousel-item_details">
          <div>
            <img src="" alt="">
            <img src="" alt="">
          </div>
     
        </div>
      </div>
      
    </div>
  </section>
<router-outlet></router-outlet>